<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Turner</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="../../public/images/favicon-16x16.png" rel="icon">
  <link href="../../public/images/favicon-16x16.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CRaleway:300,300i,400,400i,500,500i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../vendor/swiper/swiper-bundle.min.js" rel="stylesheet">

  <link href="./css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h1>Page Turner</h1></a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              {{#if loggedIn}}
              <button class="btn btn-danger" id="logoutBtn">Logout</button>
              {{else}}
              <a class = "nav-link" href = "/login">Login</a>
              {{/if}}
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  {{#unless loggedIn}}
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Page Turner</h1>
      <h2>A social network for bibliophiles</h2>
      <a href="/signup" class="btn-get-started">Get Started</a>
    </div>
    <div id="landingContainer">
      <div class="pictureContainer" width="280px">
        <img src="./images/ptLogo.png">
      </div>
    </div>
  </section>
  {{/unless}}
  

  {{{body}}}

</body>
</html>

<script src="../../vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../vendor/swiper/swiper-bundle.min.js"></script>
<!-- <script src="../../vendor/php-email-form/validate.js"></script> -->

<script src="/js/getstarted.js"></script>
<script src="/js/index.js"></script>
<script src="/js/logout.js"></script>