<form id="bookForm">
    <label for="bookTitle">Title</label>
    <input id="bookTitle" type="text">
    <div>
    <label for="bookBody">Body</label>
<textarea id="bookBody" cols="30" rows="10"></textarea>    
</div>
<input type="submit" value="Submit">
</form>


<script src="/js/newpost.js"></script>