<!-- This should be all users book covers linked to posts, right?-->
<h2>Journal Entry</h2>

{{!-- <div>

    <p>some text</p>

    <ul>
        {{#each user.post as |post|}}
        <li>
            <h4> {{post.book_title}}</h4>
            <p> {{post.book_author}}</p>
            <p> {{post.rating}}</p>
        </li>
{{/each}}
    </ul>
</div> --}}