<form id="bookPost">
    <label for="user-post-title">Title:</label>
    <input class="form-input" type="text" 
    id="user-post-title" />
    <div>
     <label for="user-post-body">Body:</label>
    <input class="form-input" type="text" 
    id="user-post-body" />
    </div>
</form>
